<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AGTIA"
        tools:targetApi="31">
        <activity
            android:name=".Share_Task.Requests_Shared_Tasks.Add_Requests_Share_Activity"
            android:exported="false" />
        <activity
            android:name=".Share_Task.For_Me.Add_Shared_For_Me_Activity"
            android:exported="false" />
        <activity
            android:name=".Share_Task.By_Me.Add_Shared_By_Me_Activity"
            android:exported="false" />
        <activity
            android:name=".Share_Task.Main_Share.Add_Sharing_Task"
            android:exported="false" />
        <activity
            android:name=".ProfileUser.NoFriends"
            android:exported="false" />
        <activity
            android:name=".ProfileUser.My_Friends_List_Activity"
            android:exported="false" />
        <activity
            android:name=".Friends.AddFriends_By_Email_Activity"
            android:exported="false" />
        <activity
            android:name=".ProfileUser.Edit_Profile_Activity"
            android:exported="false" />
        <activity
            android:name=".AddTask.AddTask_Activity"
            android:exported="false" />
        <activity android:name=".NoFriends" />

        <receiver
            android:name=".Authentication.TodoAppWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/todo_app_widget_info" />
        </receiver>

        <activity
            android:name=".histo"
            android:exported="false" />
        <activity
            android:name=".todophase"
            android:exported="false" />
        <activity
            android:name=".each_todo_item"
            android:exported="false" />
        <activity
            android:name=".DeleteUser"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".Authentication.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Splash.Splash_Activity"
            android:exported="false" />
        <activity
            android:name=".Authentication.Sign_Up_Activity"
            android:exported="false" />
        <activity
            android:name=".Authentication.Log_In_Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>